---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SEO from "@/components/seo/SEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import footerNavData from "@/data/footerNavData.json";
import "@fontsource/merriweather";

const {
    class: className,
    title,
    description,
    keywords,
    url,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
        <!-- Fathom - beautiful, simple website analytics -->
        <script
            src="https://cdn.usefathom.com/script.js"
            data-spa="auto"
            data-site="HCHZUUJC"
            defer></script>
        <!-- / Fathom -->

        <!-- Fathom - track all external link clicks -->
        <script>
            window.addEventListener("load", (event) => {
                document.querySelectorAll("a").forEach((item: any) => {
                    item.addEventListener("click", () => {
                        let linkUrl = new URL(
                            item.getAttribute("href"),
                            window.location.href
                        );
                        let currentHostname = window.location.hostname;

                        if (linkUrl.hostname !== currentHostname) {
                            // If the link's hostname is different from the current page's hostname
                            let domainParts = linkUrl.hostname.split(".");
                            let domainName =
                                domainParts.length > 1
                                    ? domainParts[domainParts.length - 2]
                                    : domainParts[0];

                            const message = `External link clicked: ${domainName}`;
                            console.log(message);
                            // @ts-ignore
                            fathom.trackEvent(message);
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <main class={`main relative overflow-hidden ${className && className}`}>
            <Header />
            <slot />
            <Footer footerNavData={footerNavData} />
        </main>
    </body>
</html>
